<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>División</title>
</head>
<body>
    <div>
        <h1>Calculadora de División</h1>
        <form method="post">
            <label>Ingrese el primer número</label>
            <input type="number" name="numero 1" required>
            <label>Ingrese el segundo número</label>
            <input type="number" name="numero 2" required>
            <button type="submit">Calcular división</button>
        </form>
    </div>
    <p> El resultado de la división es: {{ resultado }} </p>
</body>
</html>