<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
   
    <title>Suma</title>
   
</head>
<body>
    <div >
        <h1>Calculadora de Suma</h1>
      
    <form method="post">
        <label>Ingrese el primer numero </label>
            <input type="number" name="numero 1" </input>
         <label>Ingrese el segundo numero </label>
            <input type="number" name="numero 2" </input>

        <button type="submit">Calcular suma </button>
    </form>

    </div>

    <p> El resultado de la suma es: {{ resultado }} </p>
</body>
</html>